<div style="font-weight:bold">
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <p style="line-height: 28pt; margin: 0pt; text-align: center">
        <span style="color: #ff0000; font-family: 宋体; font-size: 28pt;  letter-spacing: -1pt">定时任务调度邮件通知</span>
    </p>
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <hr style="height: 4px; color: #ff0000; background-color: #ff0000 " text-align:center; width:100%" />
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <p style="font-size:14pt; line-height:300%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt;">尊敬的领导，您好:</span>
    </p>
    <p style="font-size: 14pt; line-height: 300%; margin: 0pt; text-indent: 30pt">
        <span style="background-color:#ffffff; color:#31353b; font-family:宋体; font-size:14pt;">
            {{Content}}
        </span>
    </p>
    <p style="font-size: 14pt; line-height: 300%; margin: 0pt; text-indent: 30pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt;">以上为系统自动发送邮件，请勿回复！邮件内容属于公司机密，不得发送公司范围外人员或无关员工，违者依公司规定处理，造成损失将追究法律责任！</span>
    </p>
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt;">&nbsp;</span>
    </p>
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <hr style="height: 4px; color: #ff0000; background-color: #ff0000 " text-align:center; width:100%" />
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <p style="line-height:14pt; margin:0pt; text-align:right">
        <span style="color:#31353b; font-family:宋体; font-size:14pt;">定时任务调度</span>
    </p>
    <p style="font-size:14pt; line-height:150%; margin:0pt">
        <span style="color:#31353b; font-family:宋体; font-size:14pt">&nbsp;</span>
    </p>
    <p style="line-height:15pt; margin:0pt 0pt 0pt 5pt; text-align:right">
        <span style="background-color:#ffffff; color:#31353b; font-family:宋体; font-size:14pt;">{{Date}}</span>
    </p>
</div>